@media (max-width: 1200px) {

    *{
        margin: 0;
        padding: 0;
    }
    .logo-alura {
        padding: 7% 0% 0% 5%;
        margin: 0;
    }
    .apresentacao {
        display: flex;
        flex-direction: column;
        padding: 5% 0% 0% 0%;
        gap: 20px;
    }
    .caixa__secundaria {
        display: flex;
        width: 688px;
        height: 133px;
        border-radius: 32px;
    }
    .caixa__secundaria__descrip {
        padding: 5%;
    }
    .texto__crip {
        height: 450px;
    }
    .texto__descrip {
        padding: 32px 32px 0px 32px;
        width: 600px;
        height: 150px;
    }
    .conteudo__area__copiar {
        width: 688px;
        height: 343px;
        border-radius: 32px;
        padding: 3% 0% 0% 0%;
    }


    .imagem__personagem {
        display: none;   
    }
    
}



@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .texto__crip {
        width: 85%;
        padding: 2% 5% 1% 5%;
    }
    .aviso__paragrafo {
        padding: 0% 0% 1% 5%;
    }
    .caixa__secundaria {
        width: 80%;
        padding: 2% 5% 1% 5%;
    }
    .caixa__terciaria {
        width: 75%;
        padding: 0% 10% 3% 1%;
    }
    .conteudo__area__copiar {
        width: 100%;
        padding: 2% 5% 1% 5%;
    }
    .texto__descrip {
        width: 100%;
        padding: 0% 5% 1% 5%;
    }
    .botao__crip, .botao__descrip {
        width: 80%;
        height: 67px;
    }
    .botao__copiar {
        margin: 0;
        will-change: 100%;
        height: 67px;
    }
    .botoes__cripdescrip {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}